* {
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: blue;
  color: white;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: grid;
  place-items: center;
}

#overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  display: grid;
  place-items: center;
}

h1 {
  font-size: 5rem;
}

#overlay-content {
  text-align: center;
}

button {
  font-size: 1.5rem;
  width: 200px;
  cursor: pointer;
}

.hidden {
  opacity: 0;
}

#game{
  width: 700px;
  height: 700px;
  background-color: black;
  color: transparent;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

@media (max-width: 700px), (max-height: 700px){
  #game {
    width: 100vmin;
    height: 100vmin;
  }
}

.tile.food {
  background-color: red;
  border-radius: 100%;
}

.tile[data-snake-segment] {
  background-color: lightgreen;
}

