[data-tile-number="4"]{
  font-size: 24px;
}

[data-tile-number="5"]{
  font-size: 3rem;
}

[data-tile-number="6"]{
  font-size: 5vw;
}

[data-tile-number="7"]{
  font-size: 5vh;
}

/* ALSO: vmin, vmax */
